*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header section start */
header{
  background-image: url("/Assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 50px;
  position: relative;
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
margin: 30px 150px 150px ;
}
nav .logo{
    color:#4E47FF ;
    font-size: 34px;
    font-weight: 800;
    
}
nav .signup-btn{
    background-color: #4E47FF;
    color:white;
    height: 48px;
    width: 132px;
    border: none;
    border-radius:10px ;
    align-items: center;
    font-weight: bold;
    transition: 0.4s;
}
.signup-btn:hover{
background-color:orange ;
font-size:16px ;
}
.hero{
    align-items: center;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.hero h1{
    font-size:65px ;
    font-weight: bold;
    text-align: center;
    margin-bottom:20px ;
    color: black;
}
.focus-btn{
  background-color:#4F46E5 ;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top:20px ;
  transition: .4s;
}
.focus-btn:hover{
    background-color:orange ;
font-size:17px ;
}
/* header section end */

/* action start */
.action{
display: flex;
justify-content: space-between;
padding: 50px 100px;
background-color:white ;
align-items: center;
}
.action-1{

}
.action-1 h1{
    font-size: 42px;
    font-weight: bold;
    align-items: center;
}
.action-1 p{
    font-size: 19px;
    margin-top: 10px;
    color:  #a1a3b4;
}
.action-1 button{
font-size: 14px;
font-weight: 500;
padding: 8px 29px;
border: none;
background-color: #4F46E5;
border-radius: 10px;
color: white;
margin-top: 10px;
}
.action-img img{
width: 403px;
height: 328px;
border-radius: 48px;
padding: 19px;

}

/* action end */

 .productive {
  text-align: center;
  padding: 60px 20px;
  background-color: #e5e7ff;
  border-radius:20px ;
  width: 1140px;
  height: 306px;
  margin: auto;
}
.productive .productive-header{
    color: #252432;
    font-size: 36px;
    font-weight: bold;
}
 .productive1{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-wrap: wrap;
   gap: 100px;
   margin-top: 50px;
 }
 .productive1 h1{
    font-size: 80px;
    font-weight: bold;
    color: #4F46E5;
 }
  .productive1 p{  
  color:  #a1a3b4;
  }


  /*  */

  .ready-to{
  width: 1140px;
  height: 572px;
  background-color: #f3efef;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
  }
  .ready-card{
  padding: 40px ;
  }

.ready-card h1{
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  }
  .ready-card p{
    color: #a1a3b4;
    font-size:15px ;
    padding: 10px;
  }
  .ready-card a button{
  width: 195px;
  height: 48px;
  background-color: #4F46E5;
  color: white;
  border: none;
  border-radius:5px ;
  margin-bottom: 20px;
  }
  .ready-card .ready-img img{
    height: 314px;
    width: 780px;
    border-radius: 48px;
  }

  /* login form */

  /* .login{
    display: flex;
    padding: 40px;
    width: 100%;
    gap: 50px;
    min-height: 100vh;
  }
  .login-title{
   flex: 1;
   display: flex;
  align-items: center;
  justify-content: center;
  }
  .login-title h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
  }
  form{
    display: flex;
    flex-direction:column ;
    gap: 15px;
  
  }
  form input, textarea {
  padding: 32px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  resize: none;
  width: 400px;
} */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  width: 100%;
  gap: 50px;
  align-items: flex-start;
  justify-content: space-between;
}

.login-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 468px;
}

.login-title h1 {
  font-size: 80px;
  font-weight: bold;
  color: #000;
  line-height: 1.2;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

input,
textarea {
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  resize: none;
}

textarea {
  height: 100px;
}

button {
  margin-top: 10px;
  padding: 14px;
  border: none;
  background-color: #4a45ff;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: orange;
}


/* footer */


footer{
    text-align: center;
    background: rgb(245, 237, 237);
    height:230px ;
    margin-top: 50px;
}
footer .footer-logo h1{
    font-size: 80px;
    color: #4F46E5; 
}
.footer-logo p{
    color: #a1a3b4;
    padding: 20px 480px;
}
.home ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.home ul li{
 list-style: none;    
}
.home ul li a{
    text-decoration: none;
   padding: 30px;
}
