*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header section start */
header{
  background-image: url("/Assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 50px;
  position: relative;
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
margin: 30px 150px 150px ;
}
nav .logo{
    color:#4E47FF ;
    font-size: 34px;
    font-weight: 800;
    
}
nav .signup-btn{
    background-color: #4E47FF;
    color:white;
    height: 48px;
    width: 132px;
    border: none;
    border-radius:10px ;
    align-items: center;
    font-weight: bold;
    transition: 0.4s;
}
.signup-btn:hover{
background-color:orange ;
font-size:16px ;
}
.hero{
    align-items: center;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.hero h1{
    font-size:65px ;
    font-weight: bold;
    text-align: center;
    margin-bottom:20px ;
    color: black;
}
.focus-btn{
  background-color:#4F46E5 ;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top:20px ;
  transition: .4s;
}
.focus-btn:hover{
    background-color:orange ;
font-size:17px ;
}
/* header section end */

/* action start */
.action{
display: flex;
justify-content: space-between;
padding: 50px 100px;
background-color:white ;
align-items: center;
}
.action-1{

}
.action-1 h1{
    font-size: 42px;
    font-weight: bold;
    align-items: center;
}
.action-1 p{
    font-size: 19px;
    margin-top: 10px;
    color: rgb(91, 84, 84);
}
.action-1 button{
font-size: 14px;
font-weight: 500;
padding: 8px 29px;
border: none;
background-color: #4F46E5;
border-radius: 10px;
color: white;
margin-top: 10px;
}
.action-img img{
width: 403px;
height: 328px;
border-radius: 48px;
padding: 19px;
}